/*digitalocean*/

/* Ricordarsi di inserire container, row e col nell'html con struttura di base */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stile nav */


.nav1{
  background-color: white;
  border-bottom: 1px solid #E3E4EB;
  font-size: 12px;
  padding: 8px 0;
}

.nav1 p span{
  background-color: #00DED6;
  border-radius: 10%;
  color: rgb(3,27,78);
  padding: 2px;

}

.nav1 p a{
  text-decoration: none;
  color: grey;
}

.nav1 p a:hover{
  color: blue;
}


.nav1 ul li{
  display: inline-block;
  padding: 0 14px;
  float: right;
}

.nav1 ul li a{
  text-decoration: none;
  color: grey;
}

.nav1 ul li a:hover{
  color: blue;
}

.nav2{
  background-color: white;
  border-bottom: 1px solid #E3E4EB;
  padding: 12px 0;
}

.nav2 figure img{
  display: inline-block;
  max-width: 18%;
  height: auto;
  float: left;
}

.nav2 ul li{
  display: inline-block;
  padding: 0 14px;
  padding-top: 8px;
}

.nav2 ul li a{
  text-decoration: none;
  color: black;
}

.nav2 ul li a:hover{
  color: blue;
}

#signup{
  display: inline-block;
  float: right;
  text-decoration: none;
  background-color: white;
  border: 1px solid blue;
  color: blue;
  padding: 6px 14px;
  font-weight: bold;
  border-radius: 4px;

}

#signup:hover{
  background-color: blue;
  color: white;

}

/* header */
.testata{
  background-image: url("../img/headerbg.png");
  max-width: 100%;
  height: 500px;
  background-size: cover;

}

.testata1{
  margin-top: 8%;
}

.testata1 h1{
  color: white;
  font-weight: bolder;
  font-size: 50px;
}

.testata1 p{
  color: grey;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-shadow: black 1px 1px;

}

.testata2{
background-color: white;
border-radius: 4px;
margin-top: 8%;
}

.testata2 h2 {
  color: #180050;
  text-align: center;
  font-weight: bolder;
}

.testata2 p{
  text-align: center;
  color: blue;
  font-size: 30px;
  font-weight: bold;

}

.testata2 a{
  padding: 6px 12px;
  display: block;
  text-decoration: none;
  margin-top: 15px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#createaccount{
  background-color: blue;
  color: white;
}

#signupgoogle{
  box-shadow: 1px 1px;
  color: grey;

}

#termservice{
  display: block;
  color: grey;
  font-weight: bold;
  margin-top: 15px;
  font-size: 10px;
  text-align: center;
}

#termservice2{
  font-size: 10px;
  text-align: center;
}


.form-group{
  margin-bottom: 0;
}

/*blocco1*/

.blocco1{
background-color: white;
padding: 30px;
}

.blocco1 h4{
  text-align: center;
  color: grey;
  font-weight: bold;
}

/*blocco2 */
.blocco2{
  background-color: #F3F4F9;
  padding: 30px;
}

.blocco2 ul li{
  display: inline-block;
  width: 16%;
}

.blocco2 ul li img{
max-width: 100%;
height: auto;
}

/*blocco3 */

.blocco3{
  text-align: center;
  background-color: white;
}

.blocco3 h2{
  color: #180050;
  font-size: 30px;
  font-weight: bold;

}
.blocco3 p{
  color: #5D5C88;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 200px;
}

/*blocco4*/

.blocco4 ul li{
  list-style-type: none;
  padding: 10px 0;
}

.blocco4 ul{
  border-left: 2px solid lightgrey;
  float: right;
}

.blocco4 ul li a{
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  color: grey;
  padding: 10px;
}

.blocco4 ul li a:hover{
text-decoration: underline;

}

.blocco4{
  padding-top: 40px;
}

.blocco4 h4{
  color:#180050;
}
.blocco4 p{
  color:grey;
}

.fas, .fab{
  color:#180050;
}

/*blocco5*/
.blocco5{
  text-align: center;
  background-color: #F3F4F9;
  padding-bottom: 20px;
}

.blocco5 h3{
  color: #180050;
  font-size: 30px;
  font-weight: bold;

}
.blocco5 p{
  color: #5D5C88;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 200px;
}

.blocco5 img{
  max-width: 30%;
  height: auto;
}

/*blococ6*/
.blocco6{
  padding-top: 40px;
  padding-right: 100px;
  padding-left: 100px;

}

.blocco6 h4{
  color:#180050;
}
.blocco6 p{
  color:grey;
}

.blocco6 h2{
  color: #180050;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}

/*blocco7 */

.blocco7{
  background-color: blue;
  padding: 0 100px;
  padding-bottom: 20px;

}

.blocco7 table tr td{
  padding: 0 30px
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid white;


}

#green{
  color: green;
}
#white{
  color: white;
}
#grey{
color: grey;
}

.blocco7 h3{
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 15px;
}

/*blocco9*/

.blocco9{
  background-color: blue;
  text-align: center;
  padding-bottom: 20px;


}

.blocco9 h2{
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;

}

.blocco9 a{
  text-decoration: none;
  color: blue;
  background-color: white;
  padding: 12px 10px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 20px;

}

/*footer*/

.stilefooter{
  background-color: #180050;
  padding: 20px 100px;
}

.stilefooter ul li{
  list-style-type: none;
  padding: 0 15px;
}

.stilefooter ul li a{
  color: grey;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 28px;
  font-weight: bold;
}

#whiteli{
  font-size: 18px;
  color: white;
}

footer img{
  width: 18%;
  height: auto;
  padding-bottom: 10px;
}

footer p{
  color: grey;
  font-weight: bold;

}

/* media */

@media all and (max-width:468px) {

  .blocco2 ul li{
    display: inline-block;
    width: 32%;
  }

  .blocco3 p{
    padding: 0;
  }

  .blocco5 p{
    padding: 0;
  }

.blocco4 ul{
  text-align: center;
}

footer{
  text-align: center;
}

}
@media all and (max-width:768px) {
   nav {
    text-align: center;
  }

  footer{
    text-align: center;
  }


}



}

@media all and (max-width:992px) {
   nav {

  }


}
